<!DOCTYPE html>
<html>

<!-- The Lunar Journal, Copyright 2023-2024 -->
<!-- Written by Dylan Müller -->
<!-- https://journal.lunar.sh -->

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJM07YZF2W"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JJM07YZF2W');
  </script>
  <title>Lunar RF Labs | {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
  {% include meta.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <meta name="image" property="og:image" content="/images/logo_space.jpg" />
  <link rel="icon" href="{{ site.avatar }}">
</head>

<body>
  <div class="sticky">
    <div class="main">
      <header class="site-header clearfix">
        <div class="site-info">
          <h1 class="site-name"><a class="no-decoration" href="{{ site.baseurl }}/">
            {{ site.name }}</a></h1>
          <p class="site-description">{{ site.bio }}</p>
        </div>
        <nav>
          <a href="{{ site.baseurl }}/">Home</a>
          <a href="{{ site.baseurl }}/about">About</a>
        </nav>
      </header>
    </div>
  </div>
  {{ content }}
</body>
</html>
